In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Justi/mimic-iii-clinical-database-1.4/microbiologyevents/MICROBIOLOGYEVENTS.csv/MICROBIOLOGYEVENTS.csv")
df.head(10)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
0,744,96,170324,2156-04-13 00:00:00,2156-04-13 14:18:00,70021.0,BRONCHOALVEOLAR LAVAGE,80026.0,PSEUDOMONAS AERUGINOSA,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,745,96,170324,2156-04-20 00:00:00,2156-04-20 13:10:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,746,96,170324,2156-04-20 00:00:00,2156-04-20 16:00:00,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,747,96,170324,2156-04-20 00:00:00,NaN,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,748,96,170324,2156-04-20 00:00:00,NaN,70079.0,URINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,749,96,170324,2156-04-21 00:00:00,2156-04-21 14:00:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,750,101,175533,2196-09-26 00:00:00,NaN,70079.0,URINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,751,101,175533,2196-09-27 00:00:00,2196-09-27 00:00:00,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,752,101,175533,2196-09-27 00:00:00,2196-09-27 00:00:00,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,753,101,175533,2196-09-27 00:00:00,2196-09-27 00:00:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_new = df[~df['ORG_NAME'].isna()]

In [23]:
organisms = np.unique(df_new['ORG_NAME'])

In [16]:
df_org = pd.DataFrame({'org_name':organisms})
df_org.to_csv("C:/Users/Justi/mimic-iii-clinical-database-1.4/microbiologyevents/MICROBIOLOGYEVENTS.csv/AROs/organisms.csv", index_label = 'Index')

In [37]:
df_MRSA = df[df['ORG_NAME'] == 'POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS']
# df_MRSA.to_csv("C:/Users/Justi/mimic-iii-clinical-database-1.4/microbiologyevents/MICROBIOLOGYEVENTS.csv/AROs/organisms_MRSA.csv", index_label = 'Index')
display(df_MRSA)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
1163,1201,124,138376,2166-01-09 00:00:00,2166-01-09 14:47:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1164,1202,124,138376,2166-01-13 00:00:00,2166-01-13 08:43:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1191,1229,124,138376,2166-01-20 00:00:00,2166-01-20 12:22:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1193,1231,124,138376,2166-01-27 00:00:00,2166-01-27 14:30:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3148,2847,267,163714,2156-06-07 00:00:00,2156-06-07 11:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630533,630073,99538,128902,2180-03-13 00:00:00,2180-03-13 02:02:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
630607,631112,99822,195871,2197-07-04 00:00:00,2197-07-04 19:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
630917,628008,99096,129330,2109-01-09 00:00:00,2109-01-09 19:51:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
630969,628977,99333,136029,2125-02-28 00:00:00,2125-02-28 02:37:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN
631244,626035,98584,163688,2102-01-31 00:00:00,2102-01-31 10:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_admissions = pd.read_csv("C:/Users/Justi/mimic-iii-clinical-database-1.4/admissions/ADMISSIONS.csv/ADMISSIONS.csv")
display(df_admissions)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [44]:
inner_merged = pd.merge(df_MRSA,df_admissions, on=["HADM_ID"])

In [45]:
inner_merged.shape

(2104, 34)

In [46]:
display(inner_merged)

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,1201,124,138376,2166-01-09 00:00:00,2166-01-09 14:47:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1
1,1202,124,138376,2166-01-13 00:00:00,2166-01-13 08:43:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1
2,1229,124,138376,2166-01-20 00:00:00,2166-01-20 12:22:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1
3,1231,124,138376,2166-01-27 00:00:00,2166-01-27 14:30:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1
4,2847,267,163714,2156-06-07 00:00:00,2156-06-07 11:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Private,ENGL,BUDDHIST,MARRIED,ASIAN - ASIAN INDIAN,NaN,NaN,PANCREATITIS,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,630073,99538,128902,2180-03-13 00:00:00,2180-03-13 02:02:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,NOT SPECIFIED,UNKNOWN (DEFAULT),WHITE,2180-03-12 10:13:00,2180-03-12 16:44:00,DYSPNEA,0,1
2100,631112,99822,195871,2197-07-04 00:00:00,2197-07-04 19:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Private,ENGL,CATHOLIC,MARRIED,WHITE,2197-07-02 22:43:00,2197-07-03 03:00:00,DIARRHEA,1,1
2101,628008,99096,129330,2109-01-09 00:00:00,2109-01-09 19:51:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicaid,ENGL,NOT SPECIFIED,SEPARATED,WHITE,2109-01-07 21:59:00,2109-01-08 07:31:00,? FOCAL WEAKNESS;S/P SPINE SURGERY,0,1
2102,628977,99333,136029,2125-02-28 00:00:00,2125-02-28 02:37:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Medicare,ENGL,JEWISH,MARRIED,WHITE,2125-02-11 08:29:00,2125-02-11 12:59:00,DIARRHEA;DEHYDRATION,1,1
2103,626035,98584,163688,2102-01-31 00:00:00,2102-01-31 10:42:00,70091.0,MRSA SCREEN,80293.0,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,1.0,...,Private,ENGL,CATHOLIC,WIDOWED,WHITE,2102-01-30 07:15:00,2102-01-30 09:35:00,ASTHMA;CHRONIC OBST PULM DISEASE,0,1

In [47]:
inner_merged.to_csv("C:/Users/Justi/mimic-iii-clinical-database-1.4/microbiologyevents/MICROBIOLOGYEVENTS.csv/AROs/organisms_MRSA_ADMISSIONS_INNER_JOIN_HADMID.csv", index_label = 'Index')

SyntaxError: cannot assign to literal (2419508657.py, line 1)

In [51]:
df_test = df_admissions[df_admissions['HADM_ID'] == 138376]

In [52]:
df_test

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
130,169,124,138376,2165-12-31 18:55:00,2166-02-01 06:55:00,2166-02-01 06:55:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1